body {
    margin: 0%;
    font-family: Arial, sans-serif;
    background-image: url(other_img/dirtybackround.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
    background-image: url(other_img/dirtybackround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky; 
    z-index: 99;
    top: 0px;
    float: top;
    height: 100px;
    margin-top: 0;
    padding-top: 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

.navbar ul li {
    margin: 0 1%;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.navbar a.active {
    color: #f9c51a;
    /* text-decoration: underline; */
    background-color: #575757;
    border-radius: 5px;
  }
  
.navbar a.active::after {
    position: absolute;
    /* background-color: #575757; */
}

.container{
    margin-top: 20px;
}


.section1{
    display: flex;
    width: 100%;
}

.section1img img{
    border-radius: 4%;
    margin-left: 1%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 79vh;
}

.section1text{
    padding: 5%;
    margin: 1% 0 0 0;
    cursor: default;
}

.section1text h1{
    padding: 2%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
}

.section1text p{
    padding: 2%;
    cursor: default;
}


.learn_btn {
    margin: 3%;
    box-shadow: #575757 0px 4px 10px;
    width: 70px; 
    height: 70px; 
    font-size: 30px;
    color: white;
    background-color: #007bff; 
    border: none;
    border-radius: 50%;
    transition: background 0.3s ease;
    justify-content: center;
}

.learn_btn:hover {
    background-color: #0056b3;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}



.lear_more_btn {
  background-color: #f9c51a;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 28px;
  height: 44px;
  margin: 22px;
  overflow: hidden;
  padding: 15px 25px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 230px ;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #575757 0px 4px 10px;
}

.lear_more_btn:disabled {
  cursor: default;
}

.lear_more_btn:hover{
    background-color: #e7b718;
}

.lear_more_btn a{
    text-decoration: none;
    color: white;
}

.imgsection1-2{
    margin: 20px;
}

.section2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: #575757 0 0 5px 0;
}

.section2img1{
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.section2text{
    align-items: center;
    justify-content: center;
    /* margin: 200px 0 0 100px; */
    margin-top: 150px;
}

.section2text h1{
    font-size: xx-large;
    text-decoration: overline blue 3px;
    color: black;
}

.section2text p{
    font-size: large;
    margin-top: 30px;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.section2text p:hover{
    background-color: rgb(131, 127, 127 , 0.5);
    cursor: default;
    transition: ease-in-out 0.2s;
}

.section3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.section3 div{
    position: relative;
    padding: 50px;
    box-shadow: #575757 0px 0px 5px 0px;
    width: 100%;
}

.section3 p{
    color: rgb(149, 149, 150);
}

.section3 .card:hover{
    background-color: #0150a5;
    transition: ease-in-out 0.3s;
    justify-content: center;
}


.card h1::before {
    display: inline-block;
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
    margin-top: 5px;
    vertical-align: middle;
}

.card img{ 
    width: 102px;
    height: auto;
}

.custom-footer{
    margin: 0%;
    background-image: url(other_img/nobackroundmountian.png);
    background-size: cover;
    background-position: center;

    height: 100%;
    display: flex;
}

.footerh1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-shadow: #575757 5px 5px 10px;
    margin: auto;
    padding: auto;
}
  
.map{
    height: 50vh;
    width: 98%;
    margin: 10px;
    border: black 1px solid;
}

.gallery_body{
    background-image: url(other_img/dirtybackround.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.gallery-title {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 50px;
    max-width: 80vw;
    margin: 70px auto 0;
    padding: 20px;
}

.gallery img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    background: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0px 52px;
}

.gallery img:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.08);
    border-color: #333;
}

.banner{
    float: bottom;
}


.footer-button{
    justify-content: center;
    align-items: center;
    background-color: #045cc2;
    border-radius: 6px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 28px;
    height: 44px;
    margin: 22px;
    padding: 15px 25px;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    touch-action: manipulation;
    width: 230px ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #575757 0px 4px 10px;
    position: absolute;
    left: 45%;
    top: 20%;
}

.footer-button a{
    text-decoration: none;
    color: white;
}


.contact {
    text-align: center;
    padding: 50px 20px;
}

.contact h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000;
}

.contact p {
    font-size: 16px;
    margin: 10px 0 30px;
    color: #555;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contact-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #222222;
    width: 300px;
}

.contact-box i {
    font-size: 28px;
    color: #ffcc00;
    margin-bottom: 10px;
}

.contact-box h3 {
    font-size: 22px;
    color: #000;
    margin-bottom: 5px;
}



.contact-box:hover{
    background-color: #0150a5;
    color:#e7b718;
    transition: ease-in-out 0.5s;
  
}





@media(max-width: 845px) {

    
    body{
        margin: 0%;
        font-family: Arial, sans-serif;
        background-image: url(other_img/dirtybackround.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        height: 100vh;
        overflow-x: hidden;
    }

    .container{
        width: 100%;
    }
    .navbar{
        width: 100%;
        display: flex;
    }
    .navul{
        display: flex;
        width: 20%;
    }

    .navlogo{
        display: none;
    }
    .section1{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
 
    .section1img img{
       display: none;
    }

    .section1text{
        width: 93%;
        padding: 5px;
        margin: 0px 9px;
    }

    .imgsection1-2{
        display: none;
       
    }

    .section2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section2text{
        
        margin: 0;
        text-align: center;
    }

   .sections2p{
        margin: auto;
        padding: auto;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .section2img1{
    width: 100%;

   }

   .section2img1 img{ 
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
   }
   .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .card {
        width: 98%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        padding: 0px 0px;
    }

    .card:hover{
        width: 100%;
        box-shadow: none;
    }

    div.card{
        padding: 50px 0px;
    }

    .gallery{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery img{ 
        max-width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer-button{
        left: 17%;
    }

    .banner{
        display: none;
    }

 

    .sec1img{
        width: 85%;
        height: auto;
        margin: 5px;
    }

    .sec2img img {
        margin: 7px;
    }
    .sec1img img{
        width: 85%;
        height: auto;
        margin: 5px;
        padding: 5px;
        

    }

    .gallery img{ 
        margin: 0;
    }



}


.about-sec1, .about-sec2 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% auto;
    flex-wrap: wrap;
  

}

.about-sec1 img, .about-sec2 img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.about-sec1-text, .about-sec2-text {
    font-size: 1.2rem;
    margin: 20px;
    width: 100%;
    max-width: 600px;
}

.about-sec1 p, .about-sec1 h1, .about-sec2 p, .about-sec2 h1 {
    width: 100%;
}

.about-sec3 {
    text-align: center;
    padding: 20px;
    width: 90%;
    margin: auto;
}

footer {
    text-align: center;
    padding: 20px;
}

.banner img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}


@media (max-width: 845px) {
    body{
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        overflow-x:hidden;
    }
    

    .about-sec1,
    .about-sec2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0% -11px;
    }
    
   
    .about-sec1 img,
    .about-sec2 img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    
   
    .about-sec1-text,
    .about-sec2-text {
        width: 100%;
        padding: 10px 0;
    }
    
   
    .about-sec3 {
        padding: 15px;
        text-align: center;
    }
}
.contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 85%;
    margin: 30px auto;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 70vh;
}
.contact-form h3 {
    color: #f9c51a;
    text-align: center;
    font-size: 30px;
}
.contact-form input, .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    
}

.contact-form input{ 
    height: 35px;
}
.contact-form button {
    background: #0150a5;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 25%;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}
.contact-form button:hover {
    transition: 0.5s;
    background: #f9c51a;
    color: #0150a5;
}

@media (max-width: 845px){
    .contact-form button{
        width: 50%;
        margin-right: 10px;
    }

}