header {
    background: black;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}


.logo-nav{
    width: 120px;
        filter: brightness(100) invert(1);
        padding-bottom: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./nike_bg.jpg);
    background-size: contain;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

.intro{
    color: white;
}

#intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #111;
    color: white;
}

#intro h2 {
    font-size: 2.5rem;
}

section {
    padding: 40px 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

section h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

section p, section ul {
    font-size: 1rem;
    color: #555;
}

section ul {
    list-style-type: square;
    margin-left: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
}

table th {
    background-color: #111;
    color: white;
}

table td {
    background-color: #f5f5f5;
}

table tr:nth-child(even) {
    background-color: #e9e9e9;
}

table tr:hover {
    background-color: #ffcc00;
}

hr{
    height: 3px;
    margin: 10px 0 30px 0;
    width: 20%;
    background-color: #111;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}