#leaf_1{
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 5px 60px 0px;
    background: darkgreen;
}

#leaf_2{
    height: 150px;
    width: 150px;
    border-radius: 60px 0px 60px 5px;
    background: darkgreen;
}

#leaf_3{
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 60px 5px 60px 0px;
    background: darkgreen;
}

#leaf_4{
    height: 150px;
    width: 150px;
    border-radius: 0px 60px 5px;
    background: darkgreen;
}

#lulja{
    margin: 100px;
    display: flex;
}